/* Style the intro section */
#landing #intro {
  display: flex;
  justify-content: space-evenly;
  column-gap: 20px;
}

/* columns in the intro */
#landing .intro_column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* left side of the intro */
#landing #intro_left {
  row-gap: 20px;
}

/* h1 header in the left column */
#landing #intro_left h1 {
  font-size: 2em;
}

#landing #intro_left button:focus {
  outline: none;
}

/* right column of the intro */
#landing #intro_right {
  width: 384px;
  height: 682px;
  border: 10px solid black;
  border-top: 20px solid black;
  border-bottom: 40px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

/* the intro video */
#landing #intro_right video {
  width: 384px;
  height: 216px;
  padding-top: 20px;
}

/* share list */
#landing #intro_right ul {
  list-style-type: none;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-inline-start: 0px;
  column-gap: 10px;
}

/* Style for mobile */

@media screen and (max-width: 800px) {
  #landing #intro {
    flex-direction: column;
    align-items: center;
    row-gap: 60px;
  }
  #landing #intro_left {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 400px) {
  #landing #intro_right {
    border: none;
  }
}
