#create section {
  border: 3px solid lightgray;
  border-radius: 10px;
}

#create section.finished {
  border: 3px solid var(--events-color);
}

#create #create_nav_progress_bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 70px;
  left: 0px;
  width: 100%;
  background-color: white;
  border: 1px solid black;
  height: 100px;
  z-index: 1;
}

#create #create_nav_progress_bar_buttons {
  display: flex;
  justify-content: center;
  column-gap: 25px;
  position: relative;
}

#create #create_nav_progress_bar_buttons > div {
  width: 75px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#create #create_nav_progress_bar_buttons > div > a {
  display: flex;
  width: 50px;
  height: 50px;
  background-color: lightgray;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  border-radius: 25px;
  font-weight: bold;
}

#create #create_nav_progress_bar_buttons > div > a.finished {
  background-color: var(--events-color);
}

#create #create_nav_progress_bar_buttons > div > p {
  margin: 0px;
}

#create #create_nav_progress_bar_line {
  display: block;
  height: 5px;
  width: 600px;
  background-color: lightgray;
  position: absolute;
  top: 30px;
}

main#create {
  margin-top: 170px;
}

#create > form {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

#create .create_section_heading {
  padding-top: 200px;
  margin-top: -200px;
}

#create section {
  display: flex;
  flex-direction: column;
  padding: 10px;
  row-gap: 10px;
}

#create section > * {
  padding: 0px;
  margin: 0px;
}

#create section > div {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 10px;
}

#create input,
#create textarea {
  resize: none;
  border: 1px solid lightgray;
  border-radius: 10px;
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  font-style: var(--font-style);
  display: block;
  margin: 0px;
  position: relative;
}

#create #create_submit_bar {
  position: sticky;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px -20px -20px -20px;
  padding: 10px;
  background-color: white;
  border: 1px solid black;
  column-gap: 20px;
}

#create #create_submit_bar .noodle_button {
  margin: 0px;
}

#create #create_submit_bar #create_dream_button {
  background-color: var(--dreams-color);
}

#create #create_submit_bar #create_event_button.unfinished {
  background-color: lightgray;
  pointer-events: none;
  user-select: none;
}
