#user_login #login_user_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 60px;
  row-gap: 60px;
}

#user_login .login_user_button {
  width: 300px;
  height: 300px;
  border-radius: 150px;
  position: relative;
  border: 1px solid black;
}

#user_login .login_user_button a {
  text-decoration: none;
}

#user_login .login_user_button img {
  width: 150px;
  height: 150px;
  border-radius: 75px;
  position: absolute;
  left: 75px;
  top: 75px;
  object-fit: cover;
  object-position: 100% 0%;
}

#user_login .login_user_button p {
  position: relative;
  top: 90px;
}

#user_login #add_symbol {
  width: 150px;
  height: 150px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 150px;
  padding: 0px;
  margin: 0px;
  color: var(--events-color);
  position: absolute;
  left: 75px;
  top: 75px;
}
