#user_edit #user_edit_action_bar {
  display: flex;
  column-gap: 10px;
}

#user_edit input,
#user_edit textarea,
#user_edit .react-inputs-validation__textbox__input___20hDL {
  resize: none;
  border: 1px solid lightgray;
  border-radius: 10px;
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  font-style: var(--font-style);
  display: block;
  margin: 0px;
  position: relative;
  padding: 10px;
}

#user_edit img {
  border-radius: 150px;
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: 100% 0%;
}

#user_edit #user_edit_image_buttons {
  display: flex;
  column-gap: 10px;
}

#user_edit section {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

#user_edit .noodle_button {
  margin: 0px;
}

@media screen and (max-width: 800px) {
  #user_edit {
    text-align: center;
  }
  #user_edit img {
    align-self: center;
  }
}
