#user_profile #profile_own_profile_status_bar {
  border: 1px solid black;
  position: fixed;
  background-color: white;
  top: 70px;
  left: 0px;
  right: 0px;
  text-align: center;
  height: 50px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#user_profile.own {
  margin-top: 120px;
}

#user_profile #user_profile_intro {
  display: flex;
  justify-content: space-evenly;
}

#user_profile .user_profile_intro_column {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#user_profile #user_profile_intro_left {
  text-align: center;
  align-items: center;
  justify-content: center;
}

#user_profile #user_profile_intro_left img {
  width: 300px;
  height: 300px;
  border-radius: 150px;
  object-fit: cover;
  object-position: 100% 0%;
}

#user_profile #user_profile_intro_left h3 {
  margin-bottom: 0px;
}

#user_profile #user_profile_intro_left p.user_rating {
  margin-top: 0px;
}

#user_profile #user_profile_intro_right {
  width: 50%;
  text-align: left;
  row-gap: 20px;
}

#user_profile #user_profile_intro .user_actions {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
}

#user_profile #user_profile_intro .noodle_button {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#user_profile #user_events,
#user_profile #user_dreams {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}

@media screen and (max-width: 800px) {
  #user_profile #user_profile_intro {
    flex-direction: column;
    row-gap: 20px;
  }
  #user_profile #user_profile_intro_left,
  #user_profile #user_profile_intro_right {
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-height: 600px) {
  #user_profile #profile_own_profile_status_bar {
    position: absolute;
  }
}
