#user_edit #user_edit_action_bar {
  display: flex;
  column-gap: 10px;
}

#user_edit input,
#user_edit textarea,
#user_edit .react-inputs-validation__textbox__input___20hDL {
  resize: none;
  border: 1px solid lightgray;
  border-radius: 10px;
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  font-style: var(--font-style);
  display: block;
  margin: 0px;
  position: relative;
  padding: 10px;
}

#user_edit img {
  border-radius: 150px;
  max-width: 300px;
}

#user_edit #user_edit_image_buttons {
  display: flex;
  column-gap: 10px;
}

#user_edit section {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

#user_edit .noodle_button {
  margin: 0px;
}

main#user_edit {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
