#details #details_intro {
  display: flex;
  justify-content: space-evenly;
}

#details .details_intro_column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 30px;
}

#details #details_intro_left {
  width: 50%;
}

#details #details_intro_right {
  width: 25%;
}

#details #details_intro_left img {
  border-radius: 20px;
}

#details #details_intro_left h1,
#details #details_intro_left p {
  margin: 0px;
}

#details #details_intro_right h3 {
  margin: 0px;
}

#details #details_summary > p {
  margin: 5px 0px;
}

#details #details_summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#details #details_tags {
  display: flex;
  flex-wrap: wrap;
  column-gap: 5px;
}

#details #details_tags > a {
  padding: 0px;
}

#details #details_host_intro {
  display: flex;
  flex-direction: column;
}

#details #details_host_intro_event > a,
#details #details_host_intro_dream > a,
#details #details_host_intro_event > button,
#details #details_host_intro_dream > button,
#details #details_host_intro_dream > button.noodle_button {
  margin: 5px 0px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
  width: 100%;
  box-sizing: border-box;
}

#details #details_host_intro_event > button.hidden {
  display: none;
}

#details #details_host_intro_dream > a,
#details #details_host_intro_dream > button {
  background-color: var(--dreams-color);
}

#details #details_host_intro_event > #details_buy_button,
#details #details_host_intro_dream > #details_buy_button {
  height: 100px;
  width: 100%;
}

#details .details_status_container_container {
  /* background-color: lightgray; */
  /* padding: 10px 10px 10px 10px; */
  padding: 10px 0px;
  border-radius: 10px;
}

#details #details_image_container {
  position: relative;
}

#details #details_image_container > img {
  width: 100%;
}

#details #details_image_container > img.overlay {
  border-bottom-left-radius: 0px;
  border-top-right-radius: 0px;
  width: 25%;
  position: absolute;
  right: 0px;
  bottom: 3px;
}

#details .details_status_container,
#details .details_progress_container.visible {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#details .details_status_container > span {
  height: 25px;
  text-align: center;
  color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  font-size: 14px;
  user-select: none;
}

#details .details_progress_container {
  overflow: hidden;
  height: 25px;
}

#details .details_progress_container > meter {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: lightgray; */
}

#details meter::-webkit-meter-bar {
  background-color: lightgray;
  border: none;
}

#details .details_status_dream {
  border-top-left-radius: 10px;
}

#details
  .details_progress_container
  > .details_progress_dream::-webkit-meter-bar {
  border-bottom-left-radius: 10px;
}

#details .details_status_sold_out {
  border-top-right-radius: 10px;
}

#details .details_status_sold_out.rounded {
  border-bottom-left-radius: 10px;
}

#details
  .details_progress_container
  > .details_progress_sold_out::-webkit-meter-bar {
  border-bottom-right-radius: 10px;
}

#details .details_status_dream,
#details .details_status_sold_out,
#details .details_progress_dream,
#details .details_progress_sold_out {
  width: 20%;
}

#details .details_status_not_happening,
#details .details_status_happening,
#details .details_progress_not_happening,
#details .details_progress_happening {
  width: 30%;
}

#details .details_progress_container > meter::-webkit-meter-bar {
  border-radius: 0px;
}

#details .details_status_dream.passed {
  background-color: var(--events-color);
  color: var(--events-color);
}

#details .details_progress_dream.passed::-webkit-meter-optimum-value {
  background-color: var(--dreams-color);
}

#details .details_status_not_happening.passed {
  background-color: var(--events-color);
  color: var(--events-color);
}

#details .details_progress_not_happening.passed::-webkit-meter-optimum-value {
  background-color: var(--dreams-color);
}

#details .details_status_happening.passed {
  background-color: var(--events-color);
  color: var(--events-color);
}

#details .details_progress_happening.passed::-webkit-meter-optimum-value {
  background-color: var(--dreams-color);
}

#details .details_status_sold_out.passed {
  background-color: var(--events-color);
  color: var(--events-color);
}

#details .details_progress_sold_out.passed::-webkit-meter-optimum-value {
  background-color: var(--events-color);
}

#details meter::-webkit-meter-optimum-value {
  background-color: darkgray;
  transition: 1s width;
}

#details .details_status_dream.checked {
  /* color: white; */
  background-color: var(--dreams-color);
  color: var(--dreams-color);
}

#details .details_status_container > span:hover {
  color: white;
  cursor: pointer;
  background-color: var(--dreams-color);
}

#details .details_status_container > span.details_status_dream.checked:hover {
  background-color: var(--dreams-color);
}

#details .details_status_container > span.passed:hover {
  background-color: var(--events-color);
}

#details .details_status_dream.finished {
  border-bottom-left-radius: 10px;
}

/* #details .details_status_not_happening.checked {
  color: white;
} */

/* #details .details_status_happening.checked {
  color: white;
} */

#details .details_status_sold_out.checked {
  /* color: white; */
  border-bottom-right-radius: 10px;
}

#details .details_status_sold_out.dream {
  border-bottom-right-radius: 10px;
}

#details #details_host_intro_dream > button.hidden {
  display: none;
}

#details .details_status_container_container > p {
  text-align: center;
  user-select: none;
}

#details .status_message_1 {
  padding-bottom: 10px;
}

#details .status_message_2 {
  padding-top: 10px;
}

/* Style for mobile */

@media screen and (max-width: 800px) {
  #details #details_intro {
    flex-direction: column;
    row-gap: 50px;
  }
  #details #details_intro_left,
  #details #details_intro_right {
    width: 100%;
    text-align: center;
  }
  #details #details_tags {
    justify-content: center;
  }
}
