main#details {
  row-gap: 30px;
  padding-top: 60px;
  padding-bottom: 60px;
}

#details section {
  display: flex;
  justify-content: space-evenly;
}

#details .details_column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 30px;
}

#details .details_column.left {
  width: 50%;
}

#details .details_column.right {
  width: 25%;
}

/* Style for mobile */

@media screen and (max-width: 800px) {
  #details section {
    flex-direction: column;
    row-gap: 50px;
  }
  #details .details_column.left,
  #details .details_column.right {
    width: 100%;
    text-align: center;
  }
}
