#user_profile #user_profile_intro {
  display: flex;
  justify-content: space-evenly;
}

#user_profile .user_profile_intro_column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#user_profile #user_profile_intro_left {
  text-align: center;
  align-items: center;
  justify-content: center;
}

#user_profile #user_profile_intro_left img {
  max-width: 100%;
}

#user_profile #user_profile_intro_left h3 {
  margin-bottom: 0px;
}

#user_profile #user_profile_intro_left p.user_rating {
  margin-top: 0px;
}

#user_profile #user_profile_intro_right {
  width: 50%;
  text-align: left;
}

#user_profile #user_profile_intro .user_actions {
  display: flex;
  justify-content: space-between;
  column-gap: 5px;
}

#user_profile #user_profile_intro .noodle_button {
  width: 50%;
}
