#create section {
  border: 3px solid lightgray;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  row-gap: 10px;
}

#create section > * {
  padding: 0px;
  margin: 0px;
}

#create section > div {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 10px;
}

#create section.finished {
  border: 3px solid var(--events-color);
}

#create img {
  max-width: 200px;
}

#create #create_nav_progress_bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 70px;
  left: 0px;
  width: 100%;
  background-color: white;
  border: 1px solid black;
  height: 100px;
  z-index: 1;
}

#create #create_nav_progress_bar_buttons {
  display: flex;
  justify-content: center;
  column-gap: 25px;
  position: relative;
}

#create #create_nav_progress_bar_buttons > div {
  width: 75px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#create #create_nav_progress_bar_buttons > div > a {
  display: flex;
  width: 50px;
  height: 50px;
  background-color: lightgray;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  border-radius: 25px;
  font-weight: bold;
}

#create #create_nav_progress_bar_buttons > div > a.finished {
  background-color: var(--events-color);
}

#create #create_nav_progress_bar_buttons > div > p {
  margin: 0px;
}

#create #create_nav_progress_bar_line {
  display: block;
  height: 5px;
  width: 600px;
  position: absolute;
  top: 30px;
}

#create #create_nav_progress_bar_line.unfinished {
  background-color: lightgray;
}

#create #create_nav_progress_bar_line.finished {
  background-color: var(--events-color);
}

main#create.event {
  margin-top: 170px;
}

#create > form {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

#create .create_section_heading {
  padding-top: 200px;
  margin-top: -200px;
  z-index: -1;
}

#create input,
#create textarea,
#create .react-inputs-validation__textbox__input___20hDL {
  resize: none;
  border: 1px solid lightgray;
  border-radius: 10px;
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  font-style: var(--font-style);
  display: block;
  margin: 0px;
  position: relative;
  padding: 10px;
}

#create label {
  padding-bottom: 10px;
}

#create #noodle_add_tags {
  display: flex;
  column-gap: 10px;
}

#create #noodleAddTagInput,
#create #noodleAddTagButton {
  width: 200px;
  border-radius: 10px;
}

#create input[type="date"],
#create input[type="time"],
#create input[name="noodleTicketPrice"],
#create input[name="noodleMinTickets"],
#create input[name="noodleMaxTickets"] {
  width: 200px;
}

#create input[type="file"] {
  display: block;
}

#create #noodleAddTagButton {
  border: none;
  background-color: var(--events-color);
  color: white;
}

#create #noodleTagsList {
  list-style-type: none;
  display: flex;
  justify-content: left;
  column-gap: 10px;
  padding-inline: 0px;
  flex-wrap: wrap;
}

#create #noodleTagsList > li {
  border: 1px solid var(--events-color);
  width: 200px;
  display: inline-flex;
  justify-content: space-between;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
}

#create #noodleTagsList button {
  color: white;
  background-color: var(--events-color);
  border: none;
  border-radius: 10px;
}

#create .noodle_image_container {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  border: 1px solid lightgray;
}

#create .noodle_image_header_container {
  display: flex;
  justify-content: space-between;
}

#create .noodleImageRemoveButton {
  color: white;
  background-color: var(--events-color);
  border: none;
  border-radius: 10px;
  height: 20px;
}

#create .noodle_image_button_container {
  display: flex;
  justify-content: left;
  column-gap: 10px;
}

#create .noodleImageButton {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: var(--events-color);
  color: white;
  margin-top: 10px;
}

#create #noodle_ticket_price_container {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

#create #create_submit_bar {
  position: sticky;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px -20px -20px -20px;
  padding: 10px;
  background-color: white;
  border: 1px solid black;
  column-gap: 20px;
}

#create #create_submit_bar .noodle_button {
  margin: 0px;
}

#create #create_submit_bar #create_dream_button.finished {
  background-color: var(--dreams-color);
}

#create #create_submit_bar button.unfinished {
  background-color: lightgray;
  pointer-events: none;
  user-select: none;
}

/* style for mobile */

@media screen and (max-width: 800px) {
  #create #create_nav_progress_bar {
    display: none;
  }
  main#create {
    margin-top: 70px;
  }
}

@media screen and (max-height: 600px) {
  #create #create_nav_progress_bar {
    position: absolute;
  }
  #create .create_section_heading {
    padding-top: 20px;
    margin-top: -20px;
  }
  #create #create_submit_bar {
    position: static;
  }
}
