#details #details_intro {
  display: flex;
  justify-content: space-evenly;
}

#details .details_intro_column {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#details #details_intro_left {
  width: 50%;
}

#details #details_intro_right {
  width: 25%;
}

#details #details_intro_left img {
  border-radius: 20px;
}

#details #details_summary > p {
  margin: 5px 0px;
}

#details #details_summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#details #details_tags {
  display: flex;
  flex-wrap: wrap;
  column-gap: 5px;
}

#details #details_tags > a {
  padding: 0px;
}

#details #details_host_intro {
  display: flex;
  flex-direction: column;
}

#details #details_host_intro_event > a,
#details #details_host_intro_dream > a,
#details #details_host_intro_event > button,
#details #details_host_intro_dream > button {
  margin: 5px 0px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
  width: auto;
}

#details #details_host_intro_dream > a,
#details #details_host_intro_dream > button {
  background-color: var(--dreams-color);
}

#details #details_host_intro_event > #details_buy_button,
#details #details_host_intro_dream > #details_buy_button {
  height: 100px;
  width: 100%;
}

#details #details_image_container {
  position: relative;
}

#details #details_image_container > img {
  width: 100%;
}

#details #details_image_container > img.overlay {
  border-bottom-left-radius: 0px;
  border-top-right-radius: 0px;
  width: 25%;
  position: absolute;
  right: 0px;
  bottom: 3px;
}

/* Style for mobile */

@media screen and (max-width: 800px) {
  #details #details_intro {
    flex-direction: column;
  }
  #details #details_intro_left,
  #details #details_intro_right {
    width: 100%;
    text-align: center;
  }
  #details #details_tags {
    justify-content: center;
  }
}
