/* import fonts */
@import url("https://use.typekit.net/oov2wcw.css");

/* Add icon library */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

/* Set fonts and colors for all pages */

:root {
  /* Main font */
  --font-family: century-gothic, sans-serif;
  --font-weight: 400;
  --font-style: normal;
  /* Set fonts for all elements */
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  font-style: var(--font-style);
  /* Set colors that we have picked */
  --orange-soda: #e45c3a;
  --mandarin: #ee8959;
  --moss-green: #8f9d6e;
  --mint: #2fb182;
  /* Colors to denote and distinguish dreams vs events */
  --dreams-color: var(--mint);
  --dreams-text-color: white;
  --events-color: var(--mandarin);
  --events-text-color: white;
}

html,
body,
#root {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

/* the main app */

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

main {
  padding: 20px;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
}

/* buttons, anchor tags, and react router links */

button:hover {
  cursor: pointer;
}

a {
  color: black;
}

a.noodle_button,
button.noodle_button {
  width: 200px;
  background-color: var(--events-color);
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin: 16px 0px;
  color: white;
  font-family: century-gothic, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
}

a.noodle_button.dream,
button.noodle_button.dream {
  background-color: var(--dreams-color);
}

button:focus {
  outline: none;
}

/* text spans */

.dreams_color_text {
  color: var(--dreams-color);
}

.events_color_text {
  color: var(--events-color);
}

/* rating stars */

.dream .checked {
  color: var(--dreams-color);
}

.checked {
  color: var(--events-color);
}

/* hidden items */

.hidden {
  display: none;
}
