/* style the navbar have a background color, fixed position, full width and on top of everything else */
nav {
  background-color: var(--events-color);
  color: var(--events-text-color);
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 999;
}

/* anchor tags in the navbar */
nav a {
  text-decoration: none;
  color: var(--events-text-color);
}

/* columns in the navbar */
nav .nav_column {
  display: flex;
  align-items: center;
}

/* items in the columns */
nav .nav_column > * {
  padding: 10px;
}

/* nav logo */
nav #nav_logo {
  filter: invert(100%);
}

/* seach box */
nav input[type="search"] {
  height: 50px;
  border: none;
  border-radius: 10px;
}

nav input[type="search"]:focus {
  outline: none;
}

/* list for the right side buttons */
nav ul {
  list-style-type: none;
  display: flex;
}

/* right side buttons list items */
nav ul li {
  display: flex;
  align-items: center;
  padding: 10px;
}

/* right side buttons */
nav ul li > a {
  border: none;
  padding: 10px;
  background: none;
  color: var(--events-text-color);
  font-family: century-gothic, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  border-radius: 10px;
}

nav #user_button {
  padding: 0px;
}

nav #user_button_button {
  padding: 5px;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* the browse and create drop downs */
nav #browse_drop,
#create_drop {
  column-gap: 5px;
  padding: 5px;
}

/* items in the browse and create drop downs */
nav #browse_drop > *,
nav #create_drop > * {
  width: 200px;
  height: 200px;
  background-color: black;
  border-radius: 10px;
}

/* anchor tags in the browse and create drop downs */
nav #browse_drop a,
nav #create_drop a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* the browse dreams and create dream buttons */
nav #browse_dreams_button,
nav #create_dream_button {
  background-color: var(--dreams-color);
}

/* the browse events and create event buttons */
nav #browse_events_button,
nav #create_event_button {
  background-color: var(--events-color);
}

/* columns in the user drop down */
nav .user_drop_column {
  width: 200px;
  height: 600px;
  color: black;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

nav .user_drop_column > div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  row-gap: 10px;
  padding: 10px 0px;
}

nav .user_drop_column .noodle_button {
  width: 150px;
  color: white;
  margin: 0px;
  box-sizing: content-box;
}

nav .user_drop_column a,
nav .user_drop_column p,
nav .user_drop_column h4 {
  color: black;
  margin: 0px;
}

/* the middle column in the user drop down */
nav #user_drop_middle {
  border-left: 3px solid var(--events-color);
  border-right: 3px solid var(--events-color);
}

nav #nav_user_image {
  border-radius: 25px;
  object-fit: cover;
  object-position: 100% 0%;
}

nav #user_drop_right img {
  width: 150px;
  height: 150px;
  border-radius: 75px;
  object-fit: cover;
  object-position: 100% 0%;
}

nav #login_drop,
nav #loggedout_create_drop {
  flex-direction: column;
  row-gap: 5px;
  width: 200px;
  height: 200px;
  padding: 5px;
  justify-content: space-between;
}

nav #login_drop > div,
nav #loggedout_create_drop > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav #login_drop a {
  color: black;
}

nav #login_drop .noodle_button,
nav #loggedout_create_drop .noodle_button {
  color: white;
  margin: 0px;
  width: 200px;
  height: 60px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav #loggedout_create_drop .noodle_button {
  height: 200px;
}

/* style for desktop */

@media screen and (min-width: 600px) {
  /* drop on hover */
  nav #browse_button:hover .drop,
  nav #create_button:hover .drop,
  nav #user_button:hover .drop {
    pointer-events: auto;
    right: 0px;
  }
  /* the button when hovered over */
  nav ul li > a:hover {
    outline: none;
    background-color: var(--dreams-color);
  }
  /* drop down elements */
  nav .drop {
    position: absolute;
    top: 70px;
    right: -650px;
    display: flex;
    justify-content: right;
    background-color: white;
    border: 3px solid var(--events-color);
    border-bottom-left-radius: 10px;
    transition: right 0.5s ease-in-out;
  }
}

/* style for mobile */

@media screen and (max-width: 800px) {
  nav img#nav_logo {
    width: 50px;
    object-fit: cover;
    object-position: 0% 100%;
  }
  nav .drop {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  #nav_left form {
    padding-right: 0px;
  }
  nav input[type="search"] {
    width: 50px;
    padding-right: 0px;
  }
  #nav_right ul {
    padding-left: 0px;
  }
}

@media screen and (max-height: 600px) {
  nav {
    position: absolute;
  }
}
