.noodle_list {
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
  column-gap: 60px;
  row-gap: 60px;
}

.noodle_list .noodle_link {
  text-decoration: none;
}
